@font-face {
  font-family: ProximaNovaBold;
  src: url(./fonts/FontsFree-Net-Proxima-Nova-Bold.otf);
}

body {
  background-color: white;
  font-family: "ProximaNovaBold";
}

.owl-carousel img {

  max-width: 98%;
}
