@font-face {
  font-family: ProximaNovaBold;
  src: url(./fonts/FontsFree-Net-Proxima-Nova-Bold.otf);
}

@font-face {
  font-family: ProximaNovaRegular;
  src: url(./fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1.titel {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-family: "ProximaNovaBold";
}

h1.titel-inleiding {
  text-align: center;
  margin-top: 20px;
  font-family: "ProximaNovaBold";
}

p.Inleiding{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 40px;
}

body {
  background-color: white;
  font-family: "ProximaNovaRegular", "ProximaNovaBold";
  margin: 0 10px;
}

div.content-body{
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 40px

}

.owl-carousel {
  margin-left: 10px;
  margin-right: 10px;
}

.owl-carousel img {
  max-width: 98%;
}

.cardscontainer {
  display: flex;
  justify-content: space-between;
}

.cardscontainer .card {
  flex: 1;
  max-width: 30%;
  border: 1px solid #000;
  border-radius: 5px;
}

.cardscontainer .card h1 {
  border-bottom: 1px solid #000;
  padding: 10px;
}

.cardscontainer .card .card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.cardscontainer .card .card-content .placeholder {
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #000;
}

.cardscontainer .card .card-content .text {
}

.cardscontainer .card .card-content .actionbutton {
  width: 50%;
  margin: 0 auto;
}

.content {
  margin-top: 40px;
}

.content .content-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content .content-header p {
  margin: 0 40px;
}

.content .content-header p.active {
  font-size: 28px;
  font-weight: bold;
}

.content .content-header p:not(.active) {
  line-height: 30px;
}
