@font-face {
  font-family: ProximaNovaBold;
  src: url(./fonts/FontsFree-Net-Proxima-Nova-Bold.otf);
}

body {
  background-color: white;
  font-family: 'ProximaNovaBold';

}

div.owl-carousel img {
  max-height: 700px;
  max-width: 900px;
  margin: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
