@font-face {
  font-family: ProximaNovaBold;
  src: url(./fonts/FontsFree-Net-Proxima-Nova-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1.titel {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

h1.titel-inleiding {
  text-align: center;
  margin-top: 20px;
}


body {
  background-color: white;
  font-family: "ProximaNovaBold";
  margin: 20px 20px;
}




.owl-carousel{
  margin-left: 10px;
  margin-right: 10px;
}


.owl-carousel img {
  max-width: 98%;
}

.cardscontainer {
  display: flex;
  justify-content: space-between;
}

.cardscontainer .card {
  flex: 1;
  max-width: 30%;
  border: 1px solid #000;
  border-radius: 5px;
}

.cardscontainer .card h1 {
  border-bottom: 1px solid #000;
  padding: 10px;
}

.cardscontainer .card .content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.cardscontainer .card .content .placeholder {
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #000;
}

.cardscontainer .card .content .text {

}

.cardscontainer .card .content .actionbutton {
  width: 50%;
  margin: 0 auto;
}
