//variables
$fonts: "ProximaNovaRegular", "ProximaNovaBold", -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;
$bold-font: "ProximaNovaBold";

$serif: "ProximaNovaLight";

$black: #151515;
$white: white;
$grey: lightgrey;
$yellow: #fbd87e;

$container: 0 10%;
$space: 15px;

$tablet: 767px;
$mobile: 540px;

$margin: 200px;

@font-face {
  font-family: ProximaNovaBold;
  src: url(./fonts/FontsFree-Net-Proxima-Nova-Bold.otf);
}

@font-face {
  font-family: ProximaNovaRegular;
  src: url(./fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf);
}

@font-face {
  font-family: ProximaNovaLight;
  src: url(./fonts/FontsFree-Net-Proxima-Nova-Light.otf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fonts;
  color: $black;
  letter-spacing: 1px;
}

b {
  font: $bold-font;
}

section {
  min-height: 100vh;
  border-bottom: 1px solid $black;
}

#intro {
  background-color: black;

  video {
    height: 100vh;

    object-fit: contain;
  }
  div {
    position: absolute;
    top: 50%;
    width: 40%;
    left: 40px;
    margin: 0 $margin;
    transform: translateY(-50%);

    .titelpage {
      font-family: $bold-font;
      font-size: 60px;
      color: #fbd87e;
    }

    .namen {
      font-family: $serif;
      font-size: 30px;
      color: $white;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .introductie {
      font-family: $fonts;
      font-size: 18px;
      color: $white;
    }
  }
}

#whw {
  margin: $container;

  .question {
    padding: $space;
    display: flex;

    div {
      flex: 1;
    }

    .image {
      background-color: black;
    }
  }
}

#steps {
  background-color: $grey;
  padding: $container;

  &.stepscontainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .step {
      width: 25%;
      h1 {
        text-align: center;
      }
    }
  }
}

//responsive
@media screen and (max-width: $tablet) {
  #steps {
    &.stepscontainer {
      .step {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  #steps {
    &.stepscontainer {
      .step {
        width: 100%;
      }
    }
  }
}
